.sandbox
  %h1 Slider Controls
  .slider-container
    .input-group
      %input{ id: 'weekdays', type: 'checkbox' }
      %label{ for: 'weekdays' } Identical Weekdays

    - @columns.each do |column|
      %span= column[:name]
      .elessar-rangebar-container

    %br
    %br

:javascript
  $('.elessar-rangebar-container').elocalRangebar();
