.sandbox
  %h1 Slider Controls
  .slider-container

    .input-group
      %input{ id: 'weekdays', type: 'checkbox' }
      %label{ for: 'weekdays' } Identical Weekdays

    %br
    %br

  %hr

  %h1 Calendar Grid

  .cal-grid-container
    .legend
      .open-legend
        %span.cal-grid-time-block.open &nbsp;
        %span Open
      .closed-legend
        %span.cal-grid-time-block.closed &nbsp;
        %span Closed

    .cal-grid-time-list
      .cal-grid-day
        .cal-grid-day-name
          &nbsp;
        - (0..23).each do |time|
          %span= "%02d:00" % time
          %span= "%02d:30" % time

    .cal-grid-container{ class: "cal-grid-#{@num_cols}" }
      - @columns.each do |column|
        .cal-grid-day
          .cal-grid-day-name
            = column[:name]
          - (0..23).each do |time|
            .cal-grid-time-block{ data: { time: time, day: column[:name] } }
            .cal-grid-time-block{ data: { time: time + 0.5, day: column[:name] } }
